{% extends 'base.html' %}

{% block content %}
    <div class="header">
        <div class="header-block">
            {% if perms.runs.change_eventdata %}
            <div class="header-link-block">
              <div class="header-link-block-run">
                <a class="link-header" href="{% url 'event-move-previous' event.name %}">Run Pr&eacute;c&eacute;dente</a>
                <a class="link-header" href="{% url 'event-move-next' event.name %}">Run suivante</a>
              </div>
                <a class="link-header header-modify-link" href="">Modifier &eacute;venement</a>
            </div>

            {% endif %}
        </div>
    </div>

<div>
  <div>Stream Actifs:</div>
  <div><ul>
    {% for stream in streams %}
      <li>
        <a href="{{ stream.url }}" class="table-link">{{ stream }}</a>
        {% if stream.runner %}=> {{ stream.runner }}{% endif %}
      </li>
    {% endfor %}
  </ul></div>
</div>

    <div class="infos">
        <div class="current-run-block">
            <h4 class="blockTitle">Run en cours</h4>
            <a class="current-run-link" href="#{{ current_run.run_index }}">{{ current_run }}</a>
        </div>
      <div class="current-run-info-block">
          <p>Runneur-euse(s): {{ current_run.runners.all|join:", " }} -- Commentateur-ice(s): {{ current_run.commentators.all|join:", " }}</p>
          <p>Estimation: {{ current_run.estimated_time }}</p>
        </div>
        <div class="next-run-block">
            <h4 class="blockTitle-next-run">Run suivante</h4>
            {{ next_run }}<br />
        </div>
      <div class="next-run-info-block">
        <p>Runneur-euse(s): {{ next_run.runners.all|join:", " }} -- Commentateur-ice(s): {{ next_run.commentators.all|join:", " }}</p>
        <p>Estimation: {{ next_run.estimated_time }}</p>
        </div>
        {% if late %}
        <div class="block">
            <h4 class="blockTitle">Retard</h4>
            {{ late }}
        </div>
        {% endif %}
    </div>

    <table class="planning">
    <thead class="planning-header">
        {% if perms.runs.view_eventdata %}
            <th>Heure de d&eacute;but pr&eacute;vue</th>
        {% endif %}
        <th>Heure de d&eacute;but</th>
        <th>Run</th>
        <th>Cat&eacute;gorie</th>
        <th>Estimation</th>
        <th>Runners</th>
        <th>Commentateurs</th>
        {% if perms.runs.change_run %}
            <th>Modifier</th>
        {% endif %}
    </thead>
    {% for run in runs %}
        <tr class="planning-row {% if run.is_terminated %} ended-run {% endif %}">
            {% if perms.runs.view_eventdata %}
                <td>{{ run.planning_start_at|date:"H:m" }}</td>
            {% endif %}
            <td>{{ run.start_at|date:"H:m" }}</td>
            <td><a href="#{{ run.run_index }}"></a>{{ run.name }}</td>
            <td>{{ run.category }}</td>
            <td>{{ run.estimated_time }}</td>
            <td><ul>{% for runner in run.runners.all  %}
                    <li><a href="{{ runner.rtmp }}" class="table-link">{{ runner }}</a> - {{ runner.rtmp }}</li>
            {% endfor %}</ul></td>
            <td>{{ run.commentators.all|join:" - " }}</td>
            {% if perms.runs.change_run %}
                <td><a class="table-link" href="">Modifier</a></td>
            {% endif %}
        </tr>
    {% endfor %}
    </table>
{% endblock %}
