{% extends 'base.html' %}

{% block content %}
<div class="form-block">
  <form name="edit" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Save" />
  </form>

  <div class="btn-link" >
    <a class="btn-link-a" href="#">Ajouter une run</a>
  </div>
</div>

    <table class="planning">
        <thead class="planning-header">
            <th>&nbsp;</th>
            <th>Heure de debut</th>
            <th>Heure de fin</th>
            <th>Run</th>
            <th>Estimate</th>
            <th>Runneueuse</th>
            <th>Commentateurices</th>
            <th>Ambiancage</th>
            <th>Fini</th>
        </thead>
        {% for run in runs %}
        <tr class="planning-row">
            <td>
                {% if run.can_move_up %}<a href="{% url 'edit-run-move-up' event.name run.id %}" class="table-link">/\</a>{% endif %}
                {% if run.can_move_down %}<a href="{% url 'edit-run-move-down' event.name run.id %}" class="table-link">\/</a>{% endif %}
            </td>
            <td>{{ run.planning_start_at|date:"H:i" }}</td>
            <td>{{ run.planning_end_at|date:"H:i" }}</td>
            <td>{{ run.name }}</td>
            <td>{{ run.estimated_time }}</td>
            <td><ul>{% for runner in run.runners.all  %}
                    <li><a href="{{ runner.rtmp }}" class="table-link">{{ runner }}</a> - {{ runner.rtmp }}</li>
            {% endfor %}</ul></td>
            <td>{{ run.commentators.all|join:" - " }}</td>
            <td>{% if run.is_intermission %}X{% endif %}</td>
            <td>{% if run.is_finished %}X{% endif %}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
